<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Members Only</h1>
      <nav>
        <% if (currentUser) {%>
        <a href="/log-out"> <button>Log Out</button></a>
        <a href="/join"><button>Join the club</button></a>
        <% } else { %>
        <a href="/sign-up"><button>Sign Up</button></a>
        <a href="/log-in"><button>Log In</button></a>
        <%}%>
      </nav>
    </header>
    <main>
      <div id="message-button-container">
        <% if (currentUser && (currentUser.member_status === "member" ||
        currentUser.member_status === "admin")) {%>
        <button onclick="location.href='/message'">New Message</button>
        <%}%>
      </div>
      <div>
        <% messages.forEach((message) => { %>
        <article>
          <h5>Title: <%= message.title %></h5>
          <p>Message: <%= message.text %></p>
          <div class="card-footer">
            <h6>
              Author: <% if (currentUser && (currentUser.member_status ===
              "member" || currentUser.member_status === "admin")) {%> <%=
              message.user %> <% } else { %> ******** <%}%>
            </h6>
            <h6>
              Date: <% if (currentUser && (currentUser.member_status ===
              "member" || currentUser.member_status === "admin")) {%> <%=
              message.date_formated %> <% } else { %> ******** <%}%>
            </h6>
          </div>
          <% if (currentUser && currentUser.member_status === "admin") {%>
          <form action="message/delete" method="POST">
            <input
              type="hidden"
              name="messageid"
              required
              value="<%= message._id %>"
            />
            <button>Delete message</button>
          </form>
          <%}%>
        </article>
        <% })%>
        <article>
          <h5>Title: Members Only</h5>
          <p>
            Message: You need to sign-up first, an then you can enter the
            "secret keys" to "join the club" as member (to be able to see
            messages date's and author's, and create new messages) or as an
            admin (same "benefits" as members but you can delete messages too!).
          </p>
          <ul>
            <li>Member secret key -> member</li>
            <li>Admin secret key -> admin</li>
          </ul>
          <div class="card-footer">
            <h6>Author: fernandobouchet</h6>
            <h6>Date: 15 oct 2022</h6>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
